# data (don’t push)
yardi_images/
yardi_rag_jsons/
doc_index.json

# secrets
.env

# local venvs
.venv/
Lib/
Scripts/
etc/
share/
pyvenv.cfg

# python/editor noise
__pycache__/
*.pyc
.DS_Store
.idea/
